.form {
  &__list {
    margin-left: 15px;
    margin-right: 25px;
  }

  &__item {
    margin-top: 10px;

    &-date {
      color: rgb(138, 137, 149);
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}

.issue {
  &__box {
    height: 40px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &-label {
      margin-left: 12px;
      font-size: 15px;
    }

    &-input {
      -webkit-appearance: none;
      background-image: url(../images/icon-star.svg);
      background-repeat: no-repeat;
      width: 16px;
      height: 19px;
      outline: none;
    }
    &-input:active,
    &-input:checked{
          background-image: url(../images/icon-star-checked.svg);
          width: 16px;
          height: 19px;
          outline: none;
    }
  }
}
// .svg{
//   stroke: red;
//   fill: green;
// }
