$background_form: rgb(246, 246, 246);
$background_nav: rgba(16,16,34, 0.95);
$background_nav_click: rgba(41,42,72, 1);

$btn_close: rgb(255, 89, 79);
$btn_min: rgb(255, 188, 27);
$btn_max: rgb(0, 205, 70);

$basic_light: rgb(255, 255, 255);
